{
  "name": "enemy",
  "components": {
    "Transform": {
      "type": "Transform"
    },
    "SpriteRenderer": {
      "type": "SpriteRenderer",
      "sprite": "Enemies/GoblinSwordSaint/Walk",
      "pivot_x": 0.5,
      "pivot_y": 0.5,
      "scale_x": 1.65,
      "scale_y": 1.65,
      "sorting_order": 0,
      "auto_sorting_order": false
    },
    "Enemy": {
      "type": "Enemy",
      "enemy_kind": "champion"
    }
  }
}
